In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
os.chdir(r'dataset')

In [3]:
df = pd.read_csv('FLIGHT-2015.csv')
df.head()

,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,AIR_TIME
0,545,545,0,100,413,725,705,65
1,1620,1618,-2,108,554,1808,1752,73
2,1513,1519,6,181,1024,1714,1702,147
3,1302,1258,-4,73,331,1415,1410,51
4,645,638,-7,155,889,820,758,127

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SCHEDULED_DEPARTURE  10000 non-null  int64
 1   DEPARTURE_TIME       10000 non-null  int64
 2   DEPARTURE_DELAY      10000 non-null  int64
 3   SCHEDULED_TIME       10000 non-null  int64
 4   DISTANCE             10000 non-null  int64
 5   SCHEDULED_ARRIVAL    10000 non-null  int64
 6   ARRIVAL_TIME         10000 non-null  int64
 7   AIR_TIME             10000 non-null  int64
dtypes: int64(8)
memory usage: 625.1 KB

In [5]:
X = df.drop('DISTANCE',axis=1)
y = df['DISTANCE']

In [6]:
X.shape

(10000, 7)

In [7]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [8]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [9]:
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 9191.36958455382

In [10]:
r2 = r2_score(y_test,y_pred)
print("R-squared:", r2)

R-squared: 0.9732492406755786

In [11]:
result= model.predict([[1513,1519,6,181,1714,1702,147]])
print("Distance: ",result[0])

Distance:  1116.9916483719182

C:\Users\wali\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [14]:
def PredictDistance():
    SCHEDULED_DEPARTURE=int(input('Enter SCHEDULED_DEPARTURE:'))
    DEPARTURE_TIME=int(input('Enter DEPARTURE_TIME:'))
    DEPARTURE_DELAY=int(input('Enter DEPARTURE_DELAY:'))
    SCHEDULED_TIME=int(input('Enter SCHEDULED_TIME:'))
    SCHEDULED_ARRIVAL=int(input('Enter SCHEDULED_ARRIVAL:'))
    ARRIVAL_TIME=int(input('Enter ARRIVAL_TIME:'))
    AIR_TIME=int(input('Enter AIR_TIME:'))
    features = [[SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,SCHEDULED_ARRIVAL,ARRIVAL_TIME,AIR_TIME]]            
    Distance = model.predict(features)
    print('Distance Covered:',Distance[0])

In [13]:
PredictDistance()

Enter SCHEDULED_DEPARTURE:123
Enter DEPARTURE_TIME:213
Enter DEPARTURE_DELAY:213
Enter SCHEDULED_TIME:243
Enter SCHEDULED_ARRIVAL:3245
Enter ARRIVAL_TIME:324
Enter AIR_TIME:324
Distance Covered: [2139.22334353]

C:\Users\wali\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(